general:
   vdiadmin:  
   vdipasswd:
   pool:   
      - pool

pool:
   base_image:         
   data_dir:           /vdi
   initial_size:       5
   free_size:          3
   max_size:           10
   cpu_count:          2
   mem_size:           2048
   start_vrde_port:    5000
   recycle_timeout:    60
   delete_timeout:     300

